.movie-section {
  box-sizing: border-box;
  position: relative;
  top: -70px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 15px;
  .movie-selection {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  .movies {
    position: relative;
    margin: 1.2rem 4% 0 4%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
    background: var(--base-bg-color);

    li {
      border-radius: 16px;
      height: 28rem;
      margin: 0rem 0.2rem;
    }
    img {
      max-width: 12rem;
      margin: 0.5rem 0.5rem 0 0.5rem;
    }
    .movie {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: 400ms cubic-bezier(0.4, 0.1, 0.3, 1.1);
      transition-delay: 0.15s;
      background: var(--base-bg-color);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4), -2px -2px 9px rgba(0, 0, 0, 0.4),
        4px 4px 4px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      .movie-card-info {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 0.6rem 0.6rem 0.6rem;
        .movie-price {
          font-weight: 300;
          opacity: 0.8;
        }
        :last-child {
          font-size: 1.1rem;
          display: flex;
          align-items: center;
          button {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

.modal-wrapper {
  position: relative;
}

.movie-details {
  color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
  gap: 20px;
  img {
    margin: 0 auto;
    max-width: 56rem;
    width: auto;
    height: 30%;
    border-radius: 6px;
  }
  .movie-details-description {
    min-width: 50%;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2 1;
  }
  .product-rating {
    transform: scale(0.5);
  }
  .movie-details-title {
    padding: 8% 0 6% 0;
    font-size: 2rem;
  }
}

.modal-button {
  margin-bottom: 8%;
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 34px;
  background: transparent;
  border: none;
  color: #ffffff;
  &::before {
    position: absolute;
    content: '';
    height: 36px;
    width: 36px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
  &::after {
    position: absolute;
    top: -3px;
    left: 13px;
    content: '+';
    font-size: 2.4rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.95);
    transform: rotate(45deg);
  }
}

.modal-button {
  transition: background 120ms linear;
  border-radius: 3px;
  border: none;
  padding: 8px 20px;
  background-color: white;
  color: #000000;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.modal-button:hover {
  background-color: rgb(200, 200, 200);
}

.myModal {
  .overlay {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .content {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 42%;
    left: 50%;
    height: 60%;
    width: 66vw;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border: none;
    background: #242424;
  }
}

.movie:hover {
  transition: 520ms cubic-bezier(0.5, 0, 0.2, 1);
  transform: scale(1.19, 1.14);
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1), -8px 0 23px rgba(0, 0, 0, 0.4),
    8px 8px 28px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 950px) {
  .movie-section {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 760px) {
  .movie-section {
    .movies {
      justify-content: center;
    }
    .movie {
      &:hover {
        transform: scale(1);
      }
    }
  }
}
