.movie-section {
  box-sizing: border-box;
  position: relative;
  top: -70px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 15px;
  .movie-selection {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  .movies {
    position: relative;
    margin: 1.2rem 4% 0 4%;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
    background: var(--base-bg-color);

    li {
      border-radius: 6px;
      height: 30rem;
      margin: 0rem 3px;
    }
    img {
      max-width: 13.6rem;
      // margin: 0.5rem 0.5rem 0 0.5rem;
      border-radius: 6px 6px 0 0;
    }
    .movie {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: 400ms cubic-bezier(0.3, 0.1, 0.3, 1.1);
      transition-delay: 0.2s;
      background: var(--base-bg-color);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4), -2px -2px 9px rgba(0, 0, 0, 0.4),
        4px 4px 4px rgba(0, 0, 0, 0.3);
      border-radius: 6px;

      .movie-card-info {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 0.6rem 0.6rem 0.6rem;

        .movie-price {
          font-weight: 300;
          opacity: 0.8;
        }
        :last-child {
          font-size: 1.1rem;
          display: flex;
          align-items: center;
          button {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

.modal-wrapper {
  position: relative;
  height: 100%;
  background: #242424;
}

.movie-details {
  color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
  img {
    margin: 0 auto;
    // max-width: 40%;
    width: auto;
    height: 60%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .movie-details-description {
    min-width: 50%;
    width: auto;
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2 1;
  }
  .product-rating {
    transform: scale(0.5);
  }
  .movie-details-title {
    padding-top: 4%;
    font-size: 2.4rem;
  }
}

.modal-button {
  margin-bottom: 10%;
}

.close-modal {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 36px;
  width: 36px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  color: #ffffff;
  &::before {
    position: absolute;
    top: 17.5px;
    right: 7.5px;
    content: '';
    height: 1.5px;
    width: 20px;
    background: #ffffff;
    transform: rotate(-45deg);
    border-radius: 2px;
  }
  &::after {
    position: absolute;
    top: 7.5px;
    right: 16.5px;
    content: '';
    height: 20px;
    width: 1.5px;
    background: #fff;
    transform: rotate(135deg);
    border-radius: 2px;
  }
}

.modal-button {
  transition: background 120ms linear;
  border-radius: 3px;
  border: none;
  padding: 8px 20px;
  background-color: white;
  color: #000000;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}

.modal-button:hover {
  background-color: rgb(200, 200, 200);
}

.product-modal {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background: #242424;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 66vw;
  min-width: 460px;
  max-width: 920px;
  border: none;
  outline: none;
  border-radius: 16px;
  background: #242424;
  padding: 0;
  overflow-y: hidden;
}

.movie:hover {
  transition: 520ms cubic-bezier(0.5, 0, 0.2, 1);
  transform: scale(1.23, 1.16);
  // transform: translate3d(-62.5px, 0, 0);
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1), -8px 0 23px rgba(0, 0, 0, 0.4),
    8px 8px 28px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 950px) {
  .movie-section {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 760px) {
  .movie-section {
    .movies {
      justify-content: center;
    }

    .movie {
      &:hover {
        transform: scale(1);
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .product-modal {
    overflow-y: auto;
  }
  .modal-button {
    margin-bottom: 0%;
  }
}
