.logo {
  margin-right: 40px;
  color: var(--accent-color);
  font-size: 1.6rem;
  font-weight: 700;
  :hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 780px) {
  .logo {
    margin-right: 0px;
  }
}
