.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color-light);
  margin-left: 2.2rem;
  .filter-select {
    display: flex;
    width: 100%;
    select {
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: var(--base-bg-color);
      color: var(--font-color-light);
      padding: 0.25rem 1.2rem 0.25rem 0.3rem;
      cursor: pointer;
      :hover {
        background: transparent;
      }
    }
    :nth-child(2) {
      margin-left: 22px;
    }
  }
}
