.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100vw;
  height: 48px;
  right: 0px;
  left: 0px;
  align-items: center;
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0)
  );
  transition: 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
}
.nav-black {
  z-index: 100;
  background: rgb(20, 20, 20);
}

@media screen and (min-width: 950px) {
  .header {
    height: 68px;
  }
}
