.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 60px 0 30px;
}

.nav-links {
  display: none;
}

.navbar-container .button-tertiary {
  transition: color 100ms linear;
  border: none;
  padding: 0px;
  margin: 0px 10px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  background: none;
  color: rgb(230, 230, 230);
  outline: none;
}

.navbar-container .button-tertiary:hover {
  color: rgb(180, 180, 180);
  cursor: pointer;
}

.navbar-container .button-tertiary-active {
  font-weight: 500;
  color: white;
}

.navbar-container .button-tertiary-active:hover {
  color: white;
  cursor: unset;
}

.navbar-container svg {
  color: white;
}

.nav-element-left {
  width: 300px;
  display: flex;
  align-items: center;
  a {
    color: white;
  }
}

.nav-element-right {
  display: flex;
  position: relative;
  svg {
    color: white;
  }
}

.custom-arrow3 {
  position: absolute;
  top: 8px;
  right: -20px;
  background: transparent;
  display: block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.custom-arrow3::before {
  --size: 0.3em;
  content: '';
  position: absolute;
  top: 2px;
  right: 0;
  height: 0;
  width: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #ffffff;
}

@media screen and (min-width: 950px) {
  .navbar-container {
    margin: 0 90px 0 60px;
  }
  .nav-links {
    display: block;
  }
}
