.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 4%;
  min-width: 430px;
}

.nav-links {
  display: block;
  font-size: 14px;
}

.navbar-container .button-tertiary {
  transition: color 100ms linear;
  border: none;
  padding: 0px;
  margin: 0px 10px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  background: none;
  color: rgb(230, 230, 230);
  outline: none;
}

.navbar-container .button-tertiary:hover {
  color: rgb(180, 180, 180);
  cursor: pointer;
}

.navbar-container .button-tertiary-active {
  font-weight: 500;
  color: white;
}

.navbar-container .button-tertiary-active:hover {
  color: white;
  cursor: unset;
}

.navbar-container svg {
  color: white;
}

.nav-element-left {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: white;
  }
}

.nav-element-right {
  display: flex;
  position: relative;
  right: 20px;
  svg {
    color: white;
  }
}

.custom-arrow3 {
  position: absolute;
  top: 4px;
  right: -20px;
  background: transparent;
  display: block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1),
    -webkit-transform 367ms cubic-bezier(0.21, 0, 0.07, 1),
    -moz-transform 367ms cubic-bezier(0.21, 0, 0.07, 1),
    -o-transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
}

.custom-arrow3::before {
  --size: 6px;
  content: '';
  position: absolute;
  top: 5px;
  right: 2px;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: var(--size) var(--size) 0 var(--size);
  border-color: #fff transparent transparent transparent;
}

.custom-arrow3:hover {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 950px) {
  .nav-links {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 780px) {
  .nav-links {
    display: none;
  }
}
// @media screen and (min-width: 680px) {
//   .navbar-container {
//     margin: 0 90px 0 60px;
//   }
// }
