#root {
  --accent-color: #e50a13;
  --base-bg-color: #141414;
  --base-darker: rgba(var(--base-bg-color), 0.88);
  --base-lighter: rgba(var(--base-bg-color), 0.88);
  --base-dark: #323232;
  --base-font-color: #808080;
  --font-color-light: #ffffff;
  --button-radius: 3px;
  --nav-size: 60px;
  --speed: 500ms;
  height: 100%;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: #141414;
  overflow: overlay;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

h1,
h2,
h3,
h4 {
  max-width: 60ch;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  transition: 0.2s;
  background: rgba(120, 120, 120, 0.9);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 1);
}

.bg-dark {
  background: #202020;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
  list-style: inside;
}

li {
  list-style: none;
}

.accent {
  color: var(--accent-color);
}

.font-clr-light {
  color: var(--font-color-light);
}

.base-font-color {
  color: var(--base-font-color);
}

.font-dark {
  color: var(--base-font-color);
}

header {
  display: flex;
  align-items: center;
}

main {
  position: relative;
  left: 0;
  margin: 0 0px 0 0;
  height: 100%;
  width: 100vw;
  top: -120px;
  color: var(--font-color-light);
}

.home-wrapper {
  position: relative;
  left: -15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 104%;
}

footer {
  height: 360px;
  margin: 0 auto;
}

.Hero {
  grid-area: hero;
}
