.grid-container {
  position: relative;
  height: 100%;
  width: 100vw;
  display: Grid;
  grid-template-areas:
    'hero'
    'main'
    'footer';
  grid-template-rows: 1fr 1fr 100%;
  grid-template-columns: 1fr;

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}
